
<html>
<body>

<p style="font-family:JustOldFashion;font-size:35px;valign:middle;">Welcome to,<br> PlanYour<span style="color:#0893cf;">Task</span>.com</p>

<p>Thank you for creating an account! Click the url below to activate your account!

  <%= @account_activation_url %>

  If the above URL does not work try copying and pasting it into your browser. If you continue to have problem, please feel free to contact us.
  </p>
  </body>
  </html>
