<html>
<body>


<div class="email_container" style="background:#fff9e3;border-radius:5px;padding:20px;border-left: 2px solid #ffeb8e;">
	<p style="font-family:JustOldFashion;font-size:35px;valign:middle;">Welcome to PlanYour<span style="color:#0893cf;">Task</span>.com</p>
	<p>Click the url below to reset your password!
	<%=link_to 'Reset password',@edit_password_reset_url %>
	</p>
	<p>-Plan Your Task Team</p>
</div>

</body>
</html>
