<html>
<body>

<p style="font-family:JustOldFashion;font-size:35px;valign:middle;">Welcome to,<br> PlanYour<span style="color:#0893cf;">Task</span>.com</p>
<%=link_to 'Reset password',@edit_password_reset_url %>

</body>
</html>
