<!--Signup Section-->
<div class="section span6 offset3" id="section2">
  <div class="signup-form">
    <h1>Sign Up in Seconds!</h1>
    <p>Signup using your Email address</p>
    <div>
      <form class="form-wrapper-01">
        <input id="" class="inputbox name" type="text" placeholder="Your Name" />
        <input id="" class="inputbox email" type="text" placeholder="Email id" />
        <input id="" class="inputbox password" type="password" placeholder="Password" />
        <input id="" class="inputbox password" type="password" placeholder="Confirm Password" />
        <p><a href="#" class="button">Create my Account <i class="icon-paper-plane"></i></a></p>
        <!--<input id="" type="button" class="button" value="Sign up" />-->
      </form>
    </div>
    <hr />
    <p>Or you can Signup with one of the following</p>
    <div class="social"> <a href="#" class="facebook"><i class="icon-facebook"></i><span>Facebook</span></a> <a href="#" class="twitter"><i class="icon-twitter"></i><span>Twitter</span></a> <a href="#" class="google"><i class="icon-gplus"></i><span>Google</span></a> </div>
    <p><a class="scroll" href="#section1">&laquo; Login here</a></p>
  </div>
</div>
<!--END: Signup Section-->
