<div class="mymodal modal fade" id="myModal_<%=subtask.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<%=render 'layouts/modalcontent',:subtask=>subtask%>
	</div><!-- /.modal-dialog -->

</div><!-- /.modal -->
